@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .writing-vertical {
    writing-mode: vertical-rl;
    text-orientation: mixed;
  }

  .text-outline {
    -webkit-text-stroke: 1px rgba(255, 255, 255, 0.2);
    color: transparent;
  }

  .text-outline-dark {
    -webkit-text-stroke: 1px rgba(0, 0, 0, 0.2);
    color: transparent;
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

/* Basic optimizations */
html {
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  -webkit-tap-highlight-color: transparent;
}

/* Marquee animation */
@keyframes marquee {
  0% {
    transform: translateX(0);
    -webkit-transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
  }
}

.animate-marquee {
  animation: marquee 30s linear infinite;
  -webkit-animation: marquee 30s linear infinite;
}

/* Bounce animation */
@keyframes bounce {

  0%,
  100% {
    transform: translateY(-25%);
    -webkit-transform: translateY(-25%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }

  50% {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}

.animate-bounce {
  animation: bounce 1s infinite;
  -webkit-animation: bounce 1s infinite;
}